.FormWrap {
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(35, 35, 35, 0.25);
    border-radius: 24px;

    .SearchFormWrap {
        display: flex;
        gap: 16px;

        .Search {
            box-shadow: 0 0 8px 0 rgba(35, 35, 35, 0.25);
            padding: 10px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            gap: 10px;
            flex: 1;

            .SearchForm {
                flex: 1;
            }
        }

        .SearchBtn {
            border-radius: 16px;
            background: #0ea5e9;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            color: white;
            width: 104px;
            height: 40px;
            text-align: center;
            transition: 0.2s ease;
            &:hover {
                transform: translateY(-1px);
                background-color: #0284c7;
                box-shadow: 0 6px 16px rgba(14, 165, 233, 0.4);
            }
            &:active {
                transform: translateY(0);
            }
        }
    }

    .RangeWrap {
        margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 16px;

        .RangeBtn {
            width: 72px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #05fd79;
            border-radius: 8px;
            transition: 0.2s ease;
            &:hover {
                transform: translateY(-1px);
                box-shadow: 0 4px 12px rgba(5, 253, 121, 0.4);
            }
        }

        .active {
            background-color: #05fd79;
            color: #fff;
            box-shadow: 0 4px 12px rgba(5, 253, 121, 0.6);
        }
    }
}
