@import "tailwindcss";
@import "modern-normalize";

:root {
    --color-text: #000;
    --color-background: #fff;
}

* {
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-size: 62.5%;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.TextNormal {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.TextSub {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

button {
    cursor: pointer;
}
