.Wrap {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    .Total {
        text-align: right;
        margin-top: 32px;
    }
}

@media (max-width: 640px) {
    .Wrap {
        .FormWrap {
            padding: 0 20px;
        }
        .Total {
            text-align: center;
        }
    }
}
